html,body{
    overflow: hidden;
}
*{
    margin:0px;
    padding:0px;
}
.header{
    width:100%;
    background:#333;
    padding:15px 0px;
}
.header p{
    text-align: center;
    font-size:14px;
    line-height: 20px;
    letter-spacing: 1px;
    color:#fff;
    font-weight: bold;
}
.header button{
    background:#fff;
    padding:5px 10px;
    border:none;
}
.leftside{
    background:lightgray;
    width:100%;
    height:600px;
}
.righside{
    width:100%;
}
.rightside #chat-page ul{
    height:430px;
    margin-bottom:10px;
}
.rightside #chat-page ul li{
    margin:10px 0px;
}
#chat-page form .form-group .input-box {
    width:100%;
}
#chat-page form .form-group .input-box input{
   width:75%;
   float:left;
}
#chat-page form .form-group .input-box button{
    width:15%;
    float:left;
    padding:5px 0px;
    margin:0px 10px;
}
.main-mob-inner #messageArea {
    height:420px;
}
/**/
#username-page {
    text-align: center;
}

.username-page-container {
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    width: 100%;
    max-width: 500px;
    display: inline-block;
    margin-top: 42px;
    vertical-align: middle;
    position: relative;
    padding: 35px 55px 35px;
    min-height: 250px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -160px;
}

.username-page-container .username-submit {
    margin-top: 10px;
}


#chat-page {
    position: relative;
    height: 100%;
}

.chat-container {
    max-height: 600px;
    position: relative;
}

#chat-page ul {
    list-style-type: none;
    background-color: #FFF;
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 20px 0px 20px;
    height: calc(100% - 150px);
}

#chat-page #messageForm {
    padding: 20px;
}

#chat-page ul li {
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #f4f4f4;
}

#chat-page ul li p {
    margin: 0;
}

#chat-page .event-message {
    width: 100%;
    text-align: center;
    clear: both;
}

#chat-page .event-message p {
    color: #777;
    font-size: 14px;
    word-wrap: break-word;
}

#chat-page .chat-message {
    padding-left: 68px;
    position: relative;
}

#chat-page .chat-message i {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-style: normal;
    text-transform: uppercase;
}

#chat-page .chat-message span {
    color: #333;
    font-weight: 600;
}

#chat-page .chat-message p {
    color: #43464b;
}

#messageForm .input-box input {
    float: left;
    width: calc(100% - 85px);
}

#messageForm .input-box button {
    float: left;
    width: 80px;
    height: 38px;
    margin-left: 5px;
}

.chat-header {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ececec;
}

.chat-header h2 {
    margin: 0;
    font-weight: 500;
}
@media only screen and (max-width: 776px){
    .rightside #chat-page ul{
        height:400px;
        margin-bottom:10px;
    }
    .leftside{
        background: #ffffff;;
        width:100%;
    }
    .header p{
        text-align: left;
        font-size:14px;
        line-height: 20px;
        letter-spacing: 1px;
        color:#fff;
        font-weight: bold;
        margin-left:10px;
    }
}
#typing-box {
    margin:0px 30px;
}